:root{
    --dark-mode-main-color: #14140F;
    --light-mode-main-color: #ffffff;
    --dark-mode-secondary-color: #57B2AD;
    --light-mode-secondary-color: #096d68;
    --creamy-white:#F6F2E2;
    --yellow: #FAD25A;
    --purple: #6D5BF4;
}

body {
    /* Dark mode default */
    background-color: var(--dark-mode-main-color);
    color: var(--light-mode-main-color);

    /* Spacing */
    margin: 0;
    padding: 0;
    width: 100vw;
}

h1, h3 {
    color: var(--dark-mode-secondary-color);
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2.125rem;
    margin-bottom: 40px;
}

h4 {
    font-size: 2rem;
}

p {
    font-size: 1.5rem;
}

.white {
    color: var(--light-mode-main-color)
}

/* Dark mode default deactivated if preferred scheme is light */
@media screen and (prefers-color-scheme: light) {
    body {
        background-color: var(--light-mode-main-color);
        color: var(--dark-mode-main-color);
    }
    h1, h2, h3, h4, h5, h6 {
        color: var(--light-mode-secondary-color);
    }
    p {
        color: var(--dark-mode-main-color);
    }
}

/* Nav Bar */
nav {
    background-color: var(--dark-mode-main-color) !important;
}
nav a {
    font-size: 1rem !important;
    padding-left: 5rem;
}

nav a img#inclusia-logo {
    max-width: 20px !important;
    margin-right: 10px;
}

.nav-link {
    font-weight: 200 !important;
}

.active {
    font-weight: bold !important;
}

/* Main spacing - DIV .container */

div.container {
    padding-top: 160px;
    padding-bottom: 80px;
}

/* Section - Hello there */

/* Section - What is inclusive design? */
img#image-02 {
    max-width: 80%;
}
div.row > div > p.text-left {
    margin-bottom: 0;
}

/* Section - The importance of inclusivity */

/* Section - Evolution of inclusive design */

/* Section - Hero - After our initial literature[...] */

/* Section - Hero - Is there a gap[...] */

/* Section - Hero - 25 Designers */

/* Section - Assessment / Interest / Awareness */

/* Section - Hero - We developed a framework[...] */

/* Section - Some findings from our interviews */

div.row > div.col-12 > h3 {
    margin-bottom: 80px !important;
}

/* Section - Reasons why they didn't implement */

/* Section - Question: Is it difficult to implement? */
div.row > div.col-12 > img#image-15 {
    margin-top: 40px;
}
span.white {
    background-image: linear-gradient(120deg, var(--creamy-white) 0%, var(--creamy-white) 100%);

}
span.blue {
    background-image: linear-gradient(120deg, var(--dark-mode-secondary-color) 0%, var(--dark-mode-secondary-color) 100%);
}
span.yellow {
    background-image: linear-gradient(120deg, var(--yellow) 0%, var(--yellow) 100%);
}
span.purple {
    background-image: linear-gradient(120deg, var(--purple) 0%, var(--purple) 100%);
}
span.highlight {
    color: var(--dark-mode-main-color);
    padding: 0 3px;
    background-size: 100% 90% !important;
    background-position: 0 5px !important;
    background-repeat: no-repeat;
}

/* Illustrations */
img.image-centralized {
    max-width: 60% !important;
    margin-bottom: 80px;
}
img.icon-illustration {
    margin-bottom: 40px !important;
}

img#image-01, img#image-03 {
    min-width: 40% !important;
    max-width: 50% !important;
}

img#image-15 {
    max-width: 200px !important;
}